html {
    scroll-timeline: --page-scroll block;
  }
.cover {
    display: flex;
    font-family: "Roboto";
}

.first-bracket {
    background-size: contain;
    background-repeat: no-repeat;
}
.last-bracket{
    background-size: contain;
    background-repeat: no-repeat;
}

.first-bracket,
.letter-B,
.last-bracket {
    font-size: 200px;
}

.logo-content {
    text-align: bottom;
    animation: translateBackward auto linear;
    transform-origin: 0 50%;
    animation-timeline: --page-scroll;
    animation-range-start: 0%;
    animation-range-end: 30%;
}

.last-bracket {
    font-size: 200px;
    animation: translateForward auto linear;
    animation-timeline: --page-scroll;
    animation-range-start: 0%;
    animation-range-end: 30%;
}

@keyframes translateForward {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200px);
    }
}

@keyframes translateBackward {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}